# External repositories
external/orcahand_description/
external/dex-retargeting/
external/sim-web-visualizer/

# Generated Isaac-compatible package
assets/urdf_work/isaac_package/

# Generated USD assets
assets/usd/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Isaac / Omniverse caches
.cache/
.omniverse/
kit/cache/
isaac-sim/cache/

# Logs and experimental data
logs/
outputs/
*.csv
*.npy
*.npz
*.bag
*.mp4

# IDE
.vscode/
.idea/

# OS
.DS_Store